    /* Общие стили */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #101010;
    color: #fff;
    line-height: 1.6;
    background-color: #111;
}

/* Шапка */
.header {
    background-color: #111;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    font-size: 1.5em;
    font-weight: bold;
}

.header .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header .nav ul li {
    margin: 0 15px;
}

.header .nav ul li a {
    color: #fff;
    text-decoration: none;
}

.header .nav ul li a:hover {
    text-decoration: underline;
}

/* Главный блок */
.hero {
    background: url('https://w0.peakpx.com/wallpaper/856/983/HD-wallpaper-black-and-white-of-kendrick-lamar-wearing-white-t-shirt-and-black-cap-kendrick-lamar.jpg') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 3em;
    margin: 0;
}

.hero p {
    font-size: 1.2em;
}

/* Основной контент */
.main-content {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    gap: 20px;
    padding: 0 20px;
}

.content {
    background: #1a1a1a;
    padding: 20px;
    flex: 3;
    border-radius: 5px;
}

.aside {
    background: #2a2a2a;
    padding: 20px;
    flex: 1;
    border-radius: 5px;
}

/* Футер */
.footer {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.footer .social-icons img {
    width: 24px;
    margin: 0 10px;
    vertical-align: middle;
    transition: transform 0.3s;
}

.footer .social-icons img:hover {
    transform: scale(1.2);
}
